@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    70 The Ponds Road<br />
    Toronto, ON, M3J8W9<br />
    <abbr title="Phone">P:</abbr>
    416.222.5555
</address>

<address>
    <strong>Email on:</strong>   <a href="mailto:email@example.ca">email@example.ca</a><br />
    <strong> Or:</strong> <a href="mailto:email@example.ca">email@example.ca</a>
</address>
